.shadow {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.detailImage {
    width: 400px;
    height: 400px;
    display: block;
    z-index: 999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.image:hover {
    transform: scale(1.02);
}

.placeHolder {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 200px;
    background-color: #002451;
    color: white
}
.detailContainer {
    display: flex;
    justify-content: space-around;
}
.detail {
    display: flex;
    width: 400px;
    height: 400px;
    border: 2px solid #ddd;
    flex-direction: column;
}
.detailPlace {
    margin: 5px 10px;
    height: 20px;
    border-bottom: 2px solid #ddd;
}